* {
    box-sizing: border-box;
}
body {
    min-height: 1500px;
    font-family: 'Open Sans', sans-serif; 
}
.header {
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center; 
    position: sticky;
    z-index: 10;
    top: 0;
}
.logo {
    margin-top: 5px;
}
.menu {
    display: flex;
}
.menu li {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 4px;
    margin-right: 4px;
}
.col-md-8 {
    justify-content: center;
    margin-top: 2px;
}
.menu a {
    text-decoration: none;
    color: #a59493;
    font-size: 14px;
    border: 2px solid transparent;
    padding: 4px 8px;
}
.menu a:hover {
    border: 2px solid #a59493;
    border-radius: 4px;
    padding: 4px 8px;
}
.menu .li_home a {
    color: #39a493;
    border: 2px solid #39a493;
    padding: 4px 8px;
    border-radius: 4px;
}
.search {
    background-color: inherit;
    width: 198px;
    height: 30px;
    border: 2px solid #3c4147;
    border-radius: 4px;
    padding-left: 7px;
}
.button_search {
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-position: center;
    background-color: inherit;
    border: none;
    color: #8b7879;
    position: absolute;
    left: 83%;
    top: 0;
}
.form_search {
    position: relative;
}
.col-md-8 {
    padding-top: 5px;
}
.search::placeholder {
    color: #8d7a7b;
    font-size: 14px;
    padding-bottom: 6px;
}
.div_search {
    border: none;
}
.main {
    height: 5330px; 
}
.we-are-modest-row {
    display: flex;
}
.slide {
    height: 660px;
    background-image: url(images/slide.png);
    background-repeat: no-repeat;      
}
.welcome {
    width: 1140px;
    height: 660px;
    display: flex;
    align-items: center;
}
.welcome-content {
    width: 100%;
    height: 185px;
    vertical-align: middle;
}
.col-md-7 {
    width: 58.333%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.col-md-7 h1 {
    font-size: 36px;
    color: white;
}
.paragraph-1 {
    font-size: 16px;
    color: #a7adb6;
    margin: 30px 0;
}
.btn-holder button {
    background-color: inherit;
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    padding: 15px 25px;
    cursor: pointer;
}
.btn-holder button:hover {
    border: 2px solid #39a493;
    background-color: #39a493;
}
.btn-holder button:last-child {
    margin-left: 10px;
}
.about-us {
    border-bottom: 1px solid #c7c8ca;
    height: 610px;
}
.container-flex {
    display: flex;
    align-items: center;
}
.we-are-modest-container {
    justify-content: space-between;
}
.section1 {
    width: 100%;
    height: 610px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.col-md-7 {
    width: 58.333%;
    height: 425px;
}
.col-md-5 {
    width: 41.667%;
    height: 100%;
    flex-direction: column;
}
.we-are-modest {
    font-size: 36px;
    font-weight: 600;
    margin-left: 25px;
    margin-bottom: 30px;
}
.bold-sentence {
    font-weight: bold;
}
.img-social {
    width: 100%;
    height: 60px;
    display: flex;
}
.img-social img {
    width: 60px;
    height: 60px;
    background-color: #c8cdd0;
}
.img-social a {
    text-decoration: none;
    margin-right: 1px;
}
.we_are_modest_paragraph {
    color: #8d8f92;
    line-height: 1.5;
    margin-top: 20px;
}
.we-are-modest-row {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}
.modest-promise {
    align-self: flex-end;
}
.square-text {
    width: 100%;
    height: 73px;
    display: flex;
    margin-bottom: 30px;
}
.square {
    color: white;
    background-color: #39a493;
    font-size: 20px;
    text-align: center;
    width: 50px;
    height: 50px;
    font-weight: 600;
    line-height: 50px;
    flex-shrink: 0;
}
.square-h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}
.square-par {
    color: #8d8f92;
    line-height: 1.5;
}
.h2parbox {
    margin-left: 20px;
}
.team {
    height: 650px;
}
.section2 {
    width: 100%;
    height: 650px;
}
.h2-meet-the-team {
    font-size: 36px;
    font-weight: 600;
    margin-top: 85px;
    margin-left: 25px;
}
.col-md-3 {
    width: 25%;
    height: 375px;
    flex-direction: column;
}
.all-members {
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
}

.name-container {
    width: 103%;
    height: 73px;
    background-color: #e1e6ea;
    padding: 10px 20px;
    line-height: 1.5;
    margin-top: -2px;
    color: black;
}
.position {
    color: #8d8f92;
    margin-left: 20px;
    margin-bottom: 20px;
}
.name-container:hover {
    background-color: #38434a;
    color: white;
}
.name {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 12px;
}
.team-items {
    width: 100%;
    position: relative;
}
.team-item {
    position: relative;
    background-color: #e1e6ea;
}
.team-item:hover {
    background-color:  #38434a;
    color: white;
}
.team-item:hover > .text-item-our-team {
    color: white;
}
.team-item:hover + .hover-socia-link {
    opacity: 0.7;
    visibility: visible;
}
.hover-socia-link {
    display: flex;
    position: absolute;
    top: 35%;
    left: 24%;
    opacity: 0;
}
.hover-socia-link-item:hover {
    background-color: #e1e6ea;
    visibility: visible;
    opacity: 1;
}   

.photo {
    display: flex;
    position: relative;
}
[class*="social-"] {
    width: 50px;
    height: 50px;
    background-color: #38434a;
    margin: 1px;
}
.lovely-work {
    height: 900px;
    background-color: #3a454d;
    display: flex;
    justify-content: center;
}
.lov-wor-con {
    display: flex;
    flex-direction: column;
}
.h2-lovely-work {
    font-size: 36px;
    color: white;
    padding-top: 85px;
    padding-left: 25px;
}
.lovely-work-photos {
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 63px;
}
.lovely-work-photo {
    width: 360px;
    height: 265px;
    margin-bottom: 19px;
}
.btn-show-me-more {
    font-size: 14px;
    color: white;
    border: 2px solid white;
    background-color: inherit;
    border-radius: 7px;
    padding: 17px 20px;
    margin: 37px auto;
}
.btn-show-me-more:hover {
    border: none;
    background-color: #39a493;
    padding: 19px 22px;
}
.what-we-do {
    height: 900px;
    display: flex;
    justify-content: center;
}
.section-what-we-do {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 90px;
}
.what-we-do-items {
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 270px;
    margin-bottom: 20px;
}
[class*="pic-"] {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    align-self: center;
}
.pic-settins {
    background-image: url(images/settings.png);   
}
.pic-pencil {
    background-image: url(images/pencil.png);
}
.pic-phone {
    background-image: url(images/phone.png);
}
.pic-clock {
    background-image: url(images/clock.png);
}
.h3-what-we-do {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}
.text-what-we-do {
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
    color: #8d8f92;
}
.h2-what-we-do {
    font-size: 36px;
    font-weight: 600;
    margin-top: 85px;
    margin-left: 25px;
}
.features {
    background-color: #3a454d;
    height: 730px;
}
.h2-features {
    font-size: 36px;
    font-weight: 600;
    color: white;
    margin-top: 90px;
    margin-left: 25px;
}
.col-md-4 {
    width: 33.333%;
    flex-direction: column;
}
.features-items {
    height: 434px;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}
.features-row {
    display: flex;
    flex-direction: column;
}
.features-item {
    width: 33%;
    height: 430px;
}
.h4-feature {
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}
.feature-description {
    font-size: 16px;
    color: white;
    line-height: 1.5;
    padding-right: 10px;
}
.stay-in-touch {
    height: 870px;
}
.footer {
    height: 95px;
    background-color: #3a454d;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h2-stay-in-touch {
    font-size: 36px;
    font-weight: 600;
    margin-top: 90px;
    margin-left: 25px;
}
.col-md-6 {
    width: 50%;
    flex-direction: column;
}
.h5-contact-information {
    font-size: 20px;
    font-weight: 600;
}
.stay-in-touch-p {
    color: #8d8f92;
    font-size: 16px;
}
.btn-send-message {
    font-size: 14px;
    color: black;
    border: 2px solid black;
    background-color: inherit;
    border-radius: 7px;
    padding: 17px 20px;
    margin: 64px auto;
}
.btn-send-message:hover {
    border: none;
    background-color: #39a493;
    padding: 19px 22px;
}
.soc-icons-box {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
}
.twitter {
    background-image: url(images/twitter.png);
}
.facebook {
    background-image: url(images/facebooksmall.png);
}
.skype {
    background-image: url(images/skype.png);
}
.be {
    background-image: url(images/besmall.png);
}
.in {
    background-image: url(images/in.png);
}
.footer-soc-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}