* {
    box-sizing: border-box;
}
body {
    min-height: 1500px;
    font-family: 'Open Sans', sans-serif; 
}
.header {
    background-color: black;
    display: flex;
    align-items: center; 
    position: sticky;
    z-index: 10;
    top: 0;
}
.logo {
    margin-top: 5px;
}
.menu {
    display: flex;
}
.menu li {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 4px;
    margin-right: 4px;
}
.col-md-8 {
    justify-content: center;
    margin-top: 2px;
}
.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.menu a {
    text-decoration: none;
    color: #a59493;
    font-size: 14px;
    border: 2px solid transparent;
    padding: 4px 8px;
}
.menu a:hover {
    border: 2px solid #a59493;
    border-radius: 4px;
    padding: 4px 8px;
}
.menu .li_home a {
    color: #39a493;
    border: 2px solid #39a493;
    padding: 4px 8px;
    border-radius: 4px;
}
.search {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 6px;
    height: 100%;
    width: 100%;
    color: #a4aead;
}
.button_search {
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 95%;
    background-position: center;
    background-color: inherit;
    border: none;
    color: #8b7879;
}
.form_search {
    height: 26px;
    border: 2px solid #5b6168;
    border-radius: 4px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-form_input {
    width: 85%;
    height: 95%;
    align-self: flex-start;
}
.col-md-8 {
    padding-top: 5px;
}
.search::placeholder {
    color: #8d7a7b;
    font-size: 14px;
    padding-bottom: 6px;
}
.div_search {
    border: none;
}
.main {
    height: 5330px; 
}
.section-content {
    display: flex;
}
.slider {
    background-image: url(images/slide.png);
    background-repeat: no-repeat; 
    background-size: cover;     
}
.slider-row {
   padding-top: 21%;
}
.slider-content {
    display: flex;
    flex-direction: column;
}
.slider-title {
    font-size: 36px;
    color: white;
}
.slider-text {
    font-size: 16px;
    color: #a7adb6;
    margin: 30px 0;
}
.link {
    background-color: inherit;
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    padding: 15px 25px;
    cursor: pointer;
}
.link:hover {
    border: 2px solid #39a493;
    background-color: #39a493;
}
.link:last-child {
    margin-left: 10px;
}
.about-us {
    border-bottom: 1px solid #c7c8ca;
}
.we-are-modest-container {
    justify-content: space-between;
}
.section1 {
    width: 100%;
    height: 610px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section-title {
    font-size: 36px;   
    padding-left: 15px;
}
.section-title-black {
    color: #292f36;
    border-left: 10px solid #e1e6ea;
    font-weight: 600;
    font-family: 'Quattrocento Sans', sans-serif;
}
.col-md-7 {
    max-width: 58.33333%;
    flex: 0 0 58.33333%;
}
.col-md-5 {
    width: 41.667%;
    flex-direction: column;
}
.h2-we-are-modest {
    font-size: 36px;
    font-weight: 600;
    margin-left: 25px;
    margin-bottom: 30px;
}
.we-are-modest-img-soclink:hover {
    background-color: rgba(208, 213, 217, 0.9);
}
.bold-sentence {
    font-weight: bold;
}
.img-social {
    width: 100%;
    height: 60px;
    display: flex;
}
.img-social img {
    width: 60px;
    height: 60px;
    background-color: #c8cdd0;
}
.img-social a {
    text-decoration: none;
    margin-right: 1px;
}
.we_are_modest_paragraph {
    color: #8d8f92;
    line-height: 1.5;
    margin-bottom: 35px;
}
.we-are-modest-row {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}
.square-item {
    display: flex;
}
.square {
    color: white;
    background-color: #39a493;
    font-size: 20px;
    text-align: center;
    width: 50px;
    height: 50px;
    font-weight: 600;
    line-height: 50px;
    flex-shrink: 0;
}
.square-h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}
.square-par {
    color: #8d8f92;
    line-height: 1.5;
}
.h2parbox {
    margin-left: 20px;
    margin-bottom: 35px;
}
.section2 {
    margin-top: 60px;
}
.col-md-3 {
    width: 25%;
    flex-direction: column;
}

.position {
    color: #8d8f92;
    margin-left: 20px;
    padding-bottom: 15px;
}
.name {
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 12px;
}
.team-row {
    display: flex;
}
.team-items {
    width: 100%;
    position: relative;
}
.team-item {
    background-color: #e1e6ea;
    cursor: pointer;
    margin-bottom: 35px;
}
.team-item-img {
    display: block;
    width: 100%;
}
.team-item:hover {
    background-color:  #38434a;
    color: white;
}
.team-item:hover > .text-item-our-team {
    color: white;
}
.team-item:hover > .hover-socia-link {
    opacity: 0.8;
    visibility: visible;
}
.hover-socia-link {
    display: flex;
    position: absolute;
    top: 35%;
    left: 24%;
    opacity: 0;
}
.hover-socia-link-item {
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #3a454d;
    margin-right: 1px;
}
.hover-socia-link-item:hover {
    background-color: rgba(225, 230, 234, 0.5);
    visibility: visible;
    opacity: 1;
}   

.photo {
    display: flex;
    position: relative;
}
[class*="social-"] {
    width: 50px;
    height: 50px;
    background-color: #38434a;
    margin: 1px;
}
.lovely-work {
    background-color: #3a454d;
    display: flex;
    justify-content: center;
}
.lov-wor-con {
    display: flex;
    flex-direction: column;
}
.h2-lovely-work {
    font-size: 36px;
    color: white;
    margin-top: 85px;
    padding-left: 25px;
}
.lovely-work-photos {
    display: flex;
    flex-wrap: wrap;
    padding-top: 63px;
}
.lovely-work-photo {
   position: relative;
}
.photo-bottom {
    margin-top: 30px;
}
.work-item-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    opacity: 0;
}
.work-item-hover:hover {
    opacity: 1;
}
.work-item-img-hover {
    height: 205px;
    background-color: rgba(78, 90, 98, 0.5);
    background-repeat: no-repeat;
    background-image: url(images/plus.png);
    background-position: center;

}
.work-item-title-hover {
    background-color: #292f36;
    padding-left: 20px;
}
.work-item-title {
    font-family: 'Quattrocento Sans', 'sans-serif';
    font-size: 18px;
    line-height: 60px;
    color: white;
    text-transform: uppercase;
}
.foto {
    display: block;
    width: 100%;
}
.btn-show-me-more {
    font-size: 14px;
    color: white;
    border: 2px solid white;
    background-color: inherit;
    border-radius: 7px;
    display: block;
    line-height: 38px;
}
.btn-show-me-more-block {
    margin: 60px auto;
}
.btn-link {
    width: 147px;
}
.btn-link:hover {
    border: none;
    background-color: #39a493;
    border: 2px solid #39a493;
}
.what-we-do {
    height: 900px;
    display: flex;
    justify-content: center;
}
.section-what-we-do {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 90px;
}
.section-padding {
    margin-top: 80px;
    margin-bottom: 65px;
}
.what-we-do-items {
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 270px;
    margin-bottom: 20px;
}
[class*="pic-"] {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    align-self: center;
}
.pic-settins {
    background-image: url(images/settings.png);   
}
.pic-pencil {
    background-image: url(images/pencil.png);
}
.pic-phone {
    background-image: url(images/phone.png);
}
.pic-clock {
    background-image: url(images/clock.png);
}
.h3-what-we-do {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}
.text-what-we-do {
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
    color: #8d8f92;
}
.h2-what-we-do {
    font-size: 36px;
    font-weight: 600;
    margin-top: 85px;
    margin-left: 25px;
}
.features {
    background-color: #3a454d;
    height: 730px;
}
.h2-features {
    font-size: 36px;
    font-weight: 600;
    color: white;
    margin-top: 90px;
    margin-left: 25px;
}
.col-md-4 {
    flex-direction: column;
}
.features-items {
    height: 434px;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}
.features-row {
    display: flex;
    flex-direction: column;
}
.features-item {
    width: 33%;
    height: 430px;
}
.h4-feature {
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}
.feature-description {
    font-size: 16px;
    color: white;
    line-height: 1.5;
    padding-right: 10px;
}
.footer {
    height: 95px;
    background-color: #3a454d;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-contant {
    justify-content: space-between;
}
.copyright {
    padding-top: 4px;
}
.h2-stay-in-touch {
    font-size: 36px;
    font-weight: 600;
    margin-top: 90px;
    margin-left: 25px;
}
.col-md-6 {
    width: 50%;
    flex-direction: column;
}
.stay-in-touch-row {
    margin-top: 60px;
}
.contact-inf-title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Quattrocento Sans', 'sans-serif';;
}
.contact-inf-text {
    color: #8d8f92;
    font-size: 16px;
    margin-top: 40px;
    line-height: 1.6;
}
.btn-send-message {
    font-size: 14px;
    color: black;
    border: 2px solid black;
    background-color: inherit;
    border-radius: 7px;
    padding: 17px 20px;
    margin: 64px auto;
}
.btn-send-message:hover {
    border: none;
    background-color: #39a493;
    padding: 19px 22px;
}
.soc-icons-box {
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-right: 5px;
}
.soc-icons-box:hover {
    background-color: #8d8f92;
}
.twitter {
    background-image: url(images/twitter.png);
}
.facebook {
    background-image: url(images/facebooksmall.png);
}
.skype {
    background-image: url(images/skype.png);
}
.be {
    background-image: url(images/besmall.png);
}
.in {
    background-image: url(images/in.png);
}
.footer-soc-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
[class*="h2-"] {
    margin-left: 0;
    padding-left: 10px;
    border-left: 10px solid #c8cdd0;
}
.map-pic {
    width: 100%;
}
.stay-in-touch-map {
    margin-top: 60px;
}