* {
    box-sizing: border-box;
}
body {
    min-height: 1500px;
    font-family: 'Open Sans', sans-serif; 
}
.header {
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center; 
    position: sticky;
    z-index: 10;
    top: 0;
}
.logo {
    margin-top: 5px;
}
.menu {
    display: flex;
}
.menu li {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 4px;
    margin-right: 4px;
}
.col-md-8 {
    justify-content: center;
    margin-top: 2px;
}
.menu a {
    text-decoration: none;
    color: #a59493;
    font-size: 14px;
    border: 2px solid transparent;
    padding: 4px 8px;
}
.menu a:hover {
    border: 2px solid #a59493;
    border-radius: 4px;
    padding: 4px 8px;
}
.menu .li_home a {
    color: #39a493;
    border: 2px solid #39a493;
    padding: 4px 8px;
    border-radius: 4px;
}
.search {
    background-color: inherit;
    width: 198px;
    height: 30px;
    border: 2px solid #3c4147;
    border-radius: 4px;
    padding-left: 7px;
}
.button_search {
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-position: center;
    background-color: inherit;
    border: none;
    color: #8b7879;
    position: absolute;
    left: 83%;
    top: 0;
}
.form_search {
    position: relative;
}
.col-md-8 {
    padding-top: 5px;
}
.search::placeholder {
    color: #8d7a7b;
    font-size: 14px;
    padding-bottom: 6px;
}
.div_search {
    border: none;
}
.main {
    height: 5330px; 
 
}
.slide {
    height: 660px;
    background-image: url(images/slide.png);
    background-repeat: no-repeat;
    
    
}
.welcome {
    width: 1140px;
    height: 660px;
    display: flex;
    align-items: center;
}
.welcome-content {
    width: 100%;
    height: 185px;
    vertical-align: middle;
}
.col-md-7 {
    width: 58.333%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.col-md-7 h1 {
    font-size: 36px;
    color: white;
}
.paragraph-1 {
    font-size: 16px;
    color: #a7adb6;
    margin: 30px 0;
}
.btn-holder button {
    background-color: inherit;
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    padding: 15px 25px;
    cursor: pointer;
}
.btn-holder button:hover {
    border: 2px solid #39a493;
    background-color: #39a493;
}
.btn-holder button:last-child {
    margin-left: 10px;
}
.about-us {
    border-bottom: 1px solid #c7c8ca;
    height: 610px;
}
.section1 {
    width: 100%;
    height: 610px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.col-md-7 {
    width: 58.333%;
    height: 425px;
}
.col-md-5 {
    width: 41.667%;
    height: 425px;
    flex-direction: column;
    margin-top: 20%;
}
.we-are-modest {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 25px;
    margin-left: 25px;
}
.bold-sentence {
    font-weight: bold;
}
.img-social {
    width: 100%;
    height: 60px;
    display: flex;
}
.img-social img {
    width: 60px;
    height: 60px;
    background-color: #c8cdd0;
}
.img-social a {
    text-decoration: none;
    margin-right: 1px;
}
.we_are_modest_paragraph {
    color: #8d8f92;
    line-height: 1.5;
}
.modest-container {
    display: flex;
    justify-content: space-around;
}
.square-text {
    width: 100%;
    height: 73px;
    display: flex;
    margin-bottom: 30px;
}
.square {
    color: white;
    background-color: #39a493;
    font-size: 20px;
    text-align: center;
    width: 50px;
    height: 50px;
    font-weight: 600;
    line-height: 50px;
    flex-shrink: 0;
}
.square-h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}
.square-par {
    color: #8d8f92;
    line-height: 1.5;
}
.h2parbox {
    margin-left: 20px;
}
.team {
    height: 650px;
}
.section2 {
    width: 100%;
    height: 650px;
}
.h2-meet-the-team {
    font-size: 36px;
    font-weight: 600;
    margin-top: 85px;
    margin-left: 25px;
}
.col-md-3 {
    width: 263px;
    height: 375px;
    flex-direction: column;
}
.all-members {
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
}

.name-container {
    width: inherit;
    height: 73px;
    background-color: #e1e6ea;
    padding: 10px 20px;
    line-height: 1.5;
    margin-top: -2px;
    color: black;
}
.position {
    color: #8d8f92;
}
.name-container:hover {
    background-color: #38434a;
    color: white;
}
.name {
    font-size: 16px;
    font-weight: 600;
}

.hover {
    display: flex;
    align-self: center;
    position: absolute;
    left: 22%;
}
.photo {
    display: flex;
    position: relative;
}
[class*="social-"] {
    display: none;
    width: 50px;
    height: 50px;
    background-color: #38434a;
    margin: 1px;
}
.lovely-work {
    height: 900px;
    background-color: #3a454d;
    display: flex;
    justify-content: center;
}
.lov-wor-con {
    display: flex;
    flex-direction: column;
}
.h2-lovely-work {
    font-size: 36px;
    color: white;
    padding-top: 85px;
    padding-left: 25px;
}
.lovely-work-photos {
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 63px;
}
.lovely-work-photo {
    width: 360px;
    height: 265px;
    flex-basis: 33%;
    flex-grow: 1;
}
.btn-show-me-more {
    font-size: 14px;
    color: white;
    border: 2px solid white;
    background-color: inherit;
    border-radius: 5px;
    padding: 17px 20px;
    margin: 64px auto;
}
.btn-show-me-more:hover {
    border: none;
    background-color: #39a493;
    padding: 19px 22px;
}

