* {
    box-sizing: border-box;
}

body {
    min-height: 1500px;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: black;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 10;
    top: 0;
}

.logo {
    margin-top: 5px;
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 4px;
    margin-right: 4px;
}

.col-md-8 {
    justify-content: center;
    margin-top: 2px;
}

.menu a {
    text-decoration: none;
    color: #a59493;
    font-size: 14px;
    border: 2px solid transparent;
    padding: 4px 8px;
}

.menu a:hover {
    border: 2px solid #a59493;
    border-radius: 4px;
    padding: 4px 8px;
}

.menu .li_home a {
    color: #39a493;
    border: 2px solid #39a493;
    padding: 4px 8px;
    border-radius: 4px;
}

.search {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 6px;
    height: 100%;
    width: 100%;
    color: #a4aead;
}

.button_search {
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 95%;
    background-position: center;
    background-color: inherit;
    border: none;
    color: #8b7879;
}

.form_search {
    height: 26px;
    border: 2px solid #5b6168;
    border-radius: 4px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-form_input {
    width: 85%;
    height: 95%;
    align-self: flex-start;
}

.col-md-8 {
    padding-top: 5px;
}

.search::placeholder {
    color: #8d7a7b;
    font-size: 14px;
    padding-bottom: 6px;
}

.div_search {
    border: none;
}

.section-content {
    display: flex;
}

.what-we-do-content {
    margin-bottom: 35px;
}

.slider {
    background-image: url(images/slide.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-content {
    display: flex;
    flex-direction: column;
}

.slider-title {
    font-size: 36px;
    color: white;
    font-family: 'Quattrocento Sans', sans-serif;
    line-height: 1.17;
    text-transform: uppercase;
}

.slider-text {
    font-size: 16px;
    color: #a7adb6;
    margin-top: 30px;
    line-height: 1.63;
}

.slider_links {
    display: flex;
    margin-top: 40px;
}

.slider-link {
    width: 45%;
}

.link {
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    line-height: 39px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Quattrocento Sans', sans-serif;
    display: block;
    height: 40px;
    text-align: center;
}

.link:hover {
    border: 2px solid #39a493;
    background-color: #39a493;
}

.link:last-child {
    margin-left: 10px;
}

.about-us {
    border-bottom: 1px solid #c7c8ca;
}

.we-are-modest-container {
    justify-content: space-between;
}

.section1 {
    width: 100%;
    height: 610px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-title {
    font-size: 36px;
    padding-left: 15px;
    text-transform: uppercase;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
}

.section-title-black {
    color: #292f36;
    border-left: 10px solid #e1e6ea;
    font-weight: 600;
    font-family: 'Quattrocento Sans', sans-serif;
}

.h2-we-are-modest {
    font-size: 36px;
    font-weight: 600;
    margin-left: 25px;
    margin-bottom: 30px;
}

.we-are-modest-img-soclink:hover {
    background-color: rgba(208, 213, 217, 0.9);
}

.bold-sentence {
    font-weight: bold;
}

.img-social {
    display: flex;
    margin-top: 15px;
    justify-content: start;
}

.we-are-modest-img-soclink {
    width: 60px;
    height: 60px;
    background-color: #c8cdd0;
}

.img-social a {
    text-decoration: none;
    margin-right: 1px;
}

.we_are_modest_paragraph {
    color: #8d8f92;
    line-height: 1.63;
    margin-bottom: 35px;
}

.we-are-modest-row {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}

.modest-promise {
    margin-top: 35px;
}

.modest-promise-item {
    display: flex;
}

.square {
    color: white;
    background-color: #39a493;
    font-size: 20px;
    text-align: center;
    width: 50px;
    height: 50px;
    font-weight: 600;
    line-height: 50px;
    flex-shrink: 0;
}

.square-h2 {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Quattrocento Sans', sans-serif;
}

.square-par {
    color: #8d8f92;
    line-height: 1.63;
    margin-top: 10px;
    font-size: 16px;
}

.about_our-goals-item_text {
    margin-left: 20px;
    margin-bottom: 35px;
}

.section2 {
    margin-top: 60px;
}

.position {
    color: #8d8f92;
    margin-left: 20px;
    padding-bottom: 15px;
}

.name {
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 12px;
}

.team-row {
    display: flex;
}

.team-items {
    width: 100%;
    position: relative;
}

.team-item {
    background-color: #e1e6ea;
    cursor: pointer;
    margin-bottom: 35px;
}

.team-item-img {
    display: block;
    width: 100%;
}

.team-item:hover {
    background-color: #38434a;
    color: white;
}

.team-item:hover>.text-item-our-team {
    color: white;
}

.team-item:hover>.hover-socia-link {
    opacity: 0.8;
    visibility: visible;
}

.hover-socia-link {
    display: flex;
    position: absolute;
    top: 35%;
    left: 24%;
    opacity: 0;
}

.hover-socia-link-item {
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #3a454d;
    margin-right: 1px;
}

.hover-socia-link-item:hover {
    background-color: rgba(225, 230, 234, 0.5);
    visibility: visible;
    opacity: 1;
}

.photo {
    display: flex;
    position: relative;
}

.lovely-work {
    background-color: #3a454d;
    display: flex;
    justify-content: center;
}

.lov-wor-con {
    display: flex;
    flex-direction: column;
}

.section-title {
    font-size: 36px;
    padding-left: 15px;
}

.section-title-white {
    color: #ffffff;
    border-left: 10px solid #4e5a62;
}

.work-content {
    margin-bottom: 35px;
}

.work-item {
    position: relative;
}

.photo-bottom {
    margin-top: 30px;
}

.work-item-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    opacity: 0;
}

.work-item-hover:hover {
    opacity: 1;
}

.work-item-img-hover {
    height: 205px;
    background-color: rgba(78, 90, 98, 0.5);
    background-repeat: no-repeat;
    background-image: url(images/plus.png);
    background-position: center;

}

.work-item-title-hover {
    background-color: #292f36;
    padding-left: 20px;
}

.work-item-title {
    font-family: 'Quattrocento Sans', 'sans-serif';
    font-size: 18px;
    line-height: 60px;
    color: white;
    text-transform: uppercase;
}

.foto {
    display: block;
    width: 100%;
}

.btn-show-me-more {
    font-size: 14px;
    color: white;
    border: 2px solid white;
    background-color: inherit;
    border-radius: 7px;
    display: block;
    line-height: 38px;
}

.btn-show-me-more-block {
    margin: 0 auto;
    padding-bottom: 35px;
}

.btn-link {
    width: 147px;
}

.btn-link:hover {
    border: none;
    background-color: #39a493;
    border: 2px solid #39a493;
}

.what-we-do {
    display: flex;
    justify-content: center;
}

.section-what-we-do {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 90px;
}

.services-item-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}

[class*="pic-"] {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    align-self: center;
}

.pic-settins {
    background-image: url(images/settings.png);
}

.pic-pencil {
    background-image: url(images/pencil.png);
}

.pic-phone {
    background-image: url(images/phone.png);
}

.pic-clock {
    background-image: url(images/clock.png);
}

.what-we-do-title {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    font-family: 'Quattrocento Sans', sans-serif;
    margin-bottom: 28px;
}

.text-what-we-do {
    text-align: center;
    line-height: 1.63;
    font-size: 16px;
    color: #8d8f92;
}

.h2-what-we-do {
    font-size: 36px;
    font-weight: 600;
    margin-top: 85px;
    margin-left: 25px;
}

.features {
    background-color: #3a454d;
}

.contact-form_message-input {
    width: 100%;
}

.features-items {
    height: 434px;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.features-item-img {
    display: block;
    width: 100%;
}

.features-row {
    display: flex;
    flex-direction: column;
}

.features-item-title {
    font-family: 'Quattrocento Sans', sans-serif;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 25px;
}

.features-item-text {
    font-size: 16px;
    color: #dcdfe1;
    line-height: 1.63;
    margin-top: 19px;
}

.footer {
    height: 95px;
    background-color: #3a454d;
    display: flex;
    align-items: center;
}

.footer-row {
    display: flex;
    align-items: center;
}

.footer-contant {
    justify-content: space-between;
}

.copyright {
    color: #dcdfe1;
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

.h2-stay-in-touch {
    font-size: 36px;
    font-weight: 600;
    margin-top: 90px;
    margin-left: 25px;
}

.stay-in-touch-row {
    margin-top: 60px;
}

.contact-item-title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Quattrocento Sans', 'sans-serif';
    line-height: 1.3;
    padding-left: 10px;
}

.contact-item-text {
    color: #8d8f92;
    font-size: 16px;
    margin-top: 33px;
    line-height: 1.63;
}

.contact-content {
    margin-bottom: 35px;
}

.contact-form-block {
    display: flex;
    flex-direction: column;
}

.contact-form {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    opacity: 0;
}

.contact-form-field {
    margin-bottom: 10px;
    width: 100%;
}

.contact-form_input-title {
    font-family: 'Quattrocento Sans', sans-serif;
    color: #8d8f92;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 5px;
    margin-bottom: 10px;
}

.contact-form-input {
    background-color: #eaeef1;
    width: 100%;
    height: 45px;
    border-radius: 4px;
    padding: 10px;
    border: none;
    outline: none;
}

.message-field {
    margin-top: 30px;
}

.btn-send-message {
    font-size: 14px;
    color: #23b7a4;
    border: 2px solid #23b7a4;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    width: 147px;
    height: 40px;
    text-transform: uppercase;
}

.btn-send-message:hover {
    border: none;
    background-color: #39a493;
    color: #ffffff;
}

.soc-icons-box {
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-right: 5px;
}

.soc-icons-box:hover {
    background-color: #8d8f92;
}

.twitter {
    background-image: url(images/twitter.png);
}

.facebook {
    background-image: url(images/facebooksmall.png);
}

.skype {
    background-image: url(images/skype.png);
}

.be {
    background-image: url(images/besmall.png);
}

.in {
    background-image: url(images/in.png);
}

.footer_social-list {
    display: flex;
    align-items: center;
}

[class*="h2-"] {
    margin-left: 0;
    padding-left: 10px;
    border-left: 10px solid #c8cdd0;
}

.map-img {
    width: 100%;
    display: block;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

.modal-block {
    width: 300px;
    margin: 120px auto;
    height: 200px;
    border: 1px solid grey;
    background-color: white;
    padding: 15px;
}

.form-fields {
    margin: 10px 0;
}

.form-fields input {
    width: 100%;
    height: 30px;
    padding: 5px;
}

.btn-close {
    text-align: right;
}

.modal-block button {
    border: 1px solid grey;
    padding: 5px;
}

.hide {
    display: none;
}

.show {
    display: block;
}